html {
   /*  */
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100vw;
   height: 5rem;
   box-shadow: 0px 1px 10px rgba(12, 18, 22, 0.9);
   position: fixed;
   top: 0;
   background-color: rgb(248, 248, 248);
   z-index: 9;
}

header>* {
   height: 4rem;
}

#logo {
   display: flex;
   flex: 1 2 70%;
   margin-left: 1rem;
}

#logo img {
   display: block;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   max-height: 100%;
   max-width: 100%;
}

nav {
   display: flex;
   flex: 1 1 30%;
   justify-content: space-around;
   align-items: center;
   margin-right: 1rem;
}

nav a {
   text-decoration: none;
   font-size: larger;
}

#burg {
   width: 3rem;
   height: 3rem;
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   display: none;
}

#burg:hover {
   cursor: pointer;
}

#burg * {
   height: 0.4rem;
   border-radius: 0.2rem;
   background-color: black;
   transform-origin: center;
}

/*-------------------------------*/
/*to avoid triggering the animation when the page is reloaded, two classes are used. Assigned js.*/
#burg.noneActive span:first-child {
   transform: none;
   animation: burgFirstChildBack 300ms linear;
}

#burg.noneActive span:nth-child(2) {
   transform: none;
   animation: burgMiddlChildBack 300ms linear;
}

#burg.noneActive span:last-child {
   transform: none;
   animation: burgLastChildBack 300ms linear;
}

/*---*/
#burg.active span:first-child {
   transform: translateY(1.3rem) rotate(45deg) scaleX(1.3);
   animation: burgFirstChild 300ms linear;
}

#burg.active span:nth-child(2) {
   transform: scale(0);
   animation: burgMiddlChild 300ms linear;
}

#burg.active span:last-child {
   transform: translateY(-1.3rem) rotate(-45deg) scaleX(1.3);
   animation: burgLastChild 300ms linear;
}

/*-------------------------------*/
section,
#feedback {
   display: flex;
   min-height: calc(100vh - 5rem);
}

section>* {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.line {
   width: 20%;
   height: 2px;
   background-color: rgb(92, 21, 34);
}

#main {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   margin-top: 5rem;
   background: #f6f6f6 url(../background/20-03.jpg) no-repeat center/cover;
}

#careers {
   margin-top: 5rem;
}

#main>* {
   text-align: center;
}

#main h1 {
   font-family: 'Oswald', sans-serif;
   font-weight: 200;
   letter-spacing: 00.5rem;
   margin: -2rem 0 -3rem 0;
}

#main h2 {
   font-size: 3em;
}

#main p {
   line-height: 1.5rem;
   font-size: large;
   font-weight: bolder;
   margin: -4rem 0 -3rem 0;
}

#main h3 {
   font-size: 2.5rem;
   font-weight: 400;
   margin: -1rem 0 -3rem 0;
   animation: appeatanceBlock 4s linear;
}

#main button {
   border: none;
   align-items: center;
   border-radius: 0.7rem;
   background-color: rgb(46, 46, 46);
   color: silver;
   box-shadow: 0px 3px 5px rgba(1, 11, 18, 0.5);
   width: 12rem;
   height: 3rem;
   font-size: larger;
   font-size: 1.2rem;
   font-size: 1.2rem;
   font-weight: 400;
   transition: background-color 300ms 20ms;
   cursor: pointer;
}

#main button:hover {
   background-color: rgb(92, 21, 34);
}

#main button.down {
   font-size: 1.18rem;
   box-shadow: inset 0px 3px 5px rgba(1, 11, 18, 1);
}

#bigData {
   align-items: stretch;
   background-color: #C85B6B;
}

#trap {
   width: 40%;
   background-color: #C85B6B;
   transform-origin: left bottom;
   transform: skewX(-15deg);
}

#trap * {
   transform: skewX(15deg);
}

#withImg {
   width: 50%;
   background-color: white;
}

#bigData img {
   width: 100%;
   height: auto;
}

#about {
   background-color: aquamarine;
}

#ceo {
   background: silver url(../background/pat-of-light.jpg) no-repeat center/cover;
}

#feedback {
   flex-direction: column;
   background-color: rgb(2, 61, 91);
   padding-bottom: 5rem;
}

#feedback form {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   height: 100%;
}

input[type="text"],
input[type="email"] {
   height: 3rem;
}

input[type="text"]:focus,
input[type="email"]:focus {
   outline: solid 2px red;
   outline-offset: -2px;
}

textarea {
   resize: vertical;
   max-height: 6rem;
   min-height: 3rem;
}

#feedback form div:first-child {
   margin-top: -1%;
}

#feedback form>*:not(:first-child) {
   width: 60%;
}

#feedback form div.line {
   width: 100%;
}

footer {
   width: 100%;
   text-align: center;
   background-color: #2B6CA3;
   color: white;
   position: fixed;
   bottom: 0;
   box-shadow: 0px -2px 5px rgba(12, 18, 22, 0.9);
}

/**********keyframes burg*/
@keyframes burgFirstChild {
   0% {
      transform: translateY(0) rotate(0) scaleX(1);
   }

   50% {
      transform: translateY(1.3rem);
   }
}

@keyframes burgMiddlChild {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(0);
   }
}

@keyframes burgLastChild {
   0% {
      transform: translateY(0) rotate(0) scaleX(1);
   }

   50% {
      transform: translateY(-1.3rem);
   }
}

/*burg back*/
@keyframes burgFirstChildBack {
   0% {
      transform: translateY(1.3rem) rotate(45deg) scaleX(1.3);
   }

   50% {
      transform: translateY(1.3rem) rotate(0deg) scale(1);
   }
}

@keyframes burgMiddlChildBack {
   0% {
      transform: scale(0);
   }

   50% {
      transform: scale(1);
   }
}

@keyframes burgLastChildBack {
   0% {
      transform: translateY(-1.3rem) rotate(-45deg) scaleX(1.3);
   }

   50% {
      transform: translateY(-1.3rem) rotate(0deg) scale(1);
   }
}

/**********end keyframes burg*/