body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100vw;
   height: 5rem;
   box-shadow: 0px 1px 10px rgba(12, 18, 22, 0.9);
   position: fixed;
   top: 0;
   background-color: rgb(248, 248, 248);
   z-index: 9;
}

header>* {
   height: 4rem;
}

#logo {
   display: flex;
   flex: 1 2 70%;
   margin-left: 1rem;
}

#logo img {
   display: block;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   max-height: 100%;
   max-width: 100%;
}

nav {
   display: flex;
   flex: 1 1 30%;
   justify-content: space-around;
   align-items: center;
   margin-right: 1rem;
}

nav a {
   text-decoration: none;
   font-size: larger;
}

#burg {
   width: 3rem;
   height: 3rem;
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   display: none;
}

#burg:hover {
   cursor: pointer;
}

#burg * {
   height: 0.4rem;
   border-radius: 0.2rem;
   background-color: black;
   transform-origin: center;
}

/*-------------------------------*/
/*to avoid triggering the animation when the page is reloaded, two classes are used. Assigned js.*/
#burg.noneActive span:first-child {
   transform: none;
   animation: burgFirstChildBack 300ms linear;
}

#burg.noneActive span:nth-child(2) {
   transform: none;
   animation: burgMiddlChildBack 300ms linear;
}

#burg.noneActive span:last-child {
   transform: none;
   animation: burgLastChildBack 300ms linear;
}

/*---*/
#burg.active span:first-child {
   transform: translateY(1.3rem) rotate(45deg) scaleX(1.3);
   animation: burgFirstChild 300ms linear;
}

#burg.active span:nth-child(2) {
   transform: scale(0);
   animation: burgMiddlChild 300ms linear;
}

#burg.active span:last-child {
   transform: translateY(-1.3rem) rotate(-45deg) scaleX(1.3);
   animation: burgLastChild 300ms linear;
}

/*-------------------------------*/

#main {
   text-align: center;
   height: 100vh;
   margin-top: 5rem;
   background: #f6f6f6 url(../background/20-03.jpg) no-repeat center/cover;
}

#main h1 {
   margin: 0;
}

/**********keyframes burg*/
@keyframes burgFirstChild {
   0% {
      transform: translateY(0) rotate(0) scaleX(1);
   }

   50% {
      transform: translateY(1.3rem);
   }
}

@keyframes burgMiddlChild {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(0);
   }
}

@keyframes burgLastChild {
   0% {
      transform: translateY(0) rotate(0) scaleX(1);
   }

   50% {
      transform: translateY(-1.3rem);
   }
}

/*burg back*/
@keyframes burgFirstChildBack {
   0% {
      transform: translateY(1.3rem) rotate(45deg) scaleX(1.3);
   }

   50% {
      transform: translateY(1.3rem) rotate(0deg) scale(1);
   }
}

@keyframes burgMiddlChildBack {
   0% {
      transform: scale(0);
   }

   50% {
      transform: scale(1);
   }
}

@keyframes burgLastChildBack {
   0% {
      transform: translateY(-1.3rem) rotate(-45deg) scaleX(1.3);
   }

   50% {
      transform: translateY(-1.3rem) rotate(0deg) scale(1);
   }
}

/**********end keyframes burg*/