 .wrap_form {
    /* position: absolute; */
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(242, 242, 242, 0.9);
    overflow: hidden;
    z-index: 25;
    visibility: hidden;
    /* visibility: visible; */
 }

 .conteiner_form {
    position: absolute;
    /* position: fixed; */
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    padding-left: 1rem;
    transform: translateX(100%);
    transition: transform 400ms ease-in;
 }

 .conteiner_form.jamp {
    transform: translateX(0%);
 }

 #jampform {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 1rem;
    box-shadow: -0.2rem -0.2rem 0.5rem rgba(58, 92, 117, 0.8);
    color: gray;
 }

 .title {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* outline: solid thin green; */
 }

 #cross {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 20px;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
 }

 #cross * {
    height: 3px;
    background-color: gray;
    /* transform-origin: right center; */
    border-radius: 1.5px;
 }

 #cross *:first-child {
    transform-origin: right top;
    /* transform: rotate(-45deg) scaleX(1.3) translateX(-1px); */
    transform: rotate(-45deg) scaleX(1.25);
 }

 #cross *:last-child {
    transform-origin: right bottom;
    transform: rotate(45deg) scaleX(1.25);
 }

 .elem_form {
    position: relative;
    width: 90%;
    margin: 1rem;
 }

 .elem_form * {
    box-sizing: border-box;
    display: block;
 }

 .forjampform,
 #label_file {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.8rem;
    border-color: gray;
    background-color: rgba(242, 242, 242, 1);
 }

 .label_input {
    position: absolute;
    transform: translate(1rem, -100%);
 }

 .elem_form textarea {
    width: 100%;
    min-height: 4rem;
    resize: vertical;
    border-radius: 0.8rem;
    padding: 0.5rem;
    background-color: rgba(242, 242, 242, 1);
    border-width: 2px;
    border-color: gray;
 }

 #input_file {
    opacity: 0;
 }

 #label_file {
    transform: none;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    overflow: hidden;
 }

 @media screen and (max-width: 372px) {
    .conteiner_form {
       position: absolute;
       bottom: 0;
       right: 3%;
       left: 3%;
       padding-left: 0;
    }
 }